{% block content %} 
  <h1 class="text-center mb-3">Projects</h1>
  <button type="button" class="btn btn-outline-secondary" style="color:black" data-toggle="modal" data-target="#newProjectModal">
    New project
  </button>
  <br/>
  {% include 'project/addProject.html' with id=id %}
  <br/>
  {% if allProjects %}
    {% for project in allProjects %}
        <div class="card mb-3" >
            <div class="card-body">
              <div style="display: flex;flex-direction: row; float:right; top:0;">
                {% include 'project/updateProject.html' with id=id %}
                <div style="width:5px;"></div>
                {% include 'project/deleteProject.html' with id=id %}
              </div>
                <p class="lead"><b>{{ project.name }}</b></p>
                <p>Description:</p>
                <p class="lead">{{ project.description }}</p>
            </div>
          </div>
    {% endfor %}
  {% else %}
    No projects.
  {% endif %}

{% endblock %}