{% block content %} 
  <h1 class="text-center mb-3">Projects</h1>
  <button type="button" class="btn btn-outline-secondary" style="color:black" data-toggle="modal" data-target="#newProjectModal">
    New project
  </button>
  <br/>
  {% include 'project/addProject.html' with id=id %}
  <br/>
  {% if allProjects %}
    {% for project in allProjects %}
        <div class="card mb-3" >
            <div class="card-body">
              <div style="display: flex;flex-direction: row; float:right; top:0;">
                {% include 'project/updateProject.html' with id=id %}
                <div style="width:5px;"></div>
                {% include 'project/deleteProject.html' with id=id %}
              </div>
              <div style="height:30px;"></div>
              <form method="post">
                {% csrf_token %}

              </form> 
                <p class="lead"><b>{{ project.name }}</b></p>
            </div>
            <br/>
            <br/>
            <div style="position:absolute; bottom: 0; left: 10; padding: 20px; margin-top: 10px;" >
              <a style="border: 1px solid rgb(231, 233, 238); border-radius: 5px; padding: 5px 8px; font-size: 20px; color: rgb(105, 116, 133); background-color: rgb(239, 241, 245);" 
              href="http://localhost:8000/project/{{project.id}}/detailProject">Details</a>
            </div>
          </div>
    {% endfor %}
  {% else %}
    No projects.
  {% endif %}

{% endblock %}