{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}


<div class="card">
   <form method="POST" action="{% url 'project:addTasks' projectData.id %}">   
      {% csrf_token %}
      <select class="form-select" size="3" multiple name="tasks" id="tasks" style="width: 160px;">
         <option disabled selected style="font-weight: bold;">Select tasks</option>
         {% for task in newtasks %}
             <option value="{{task.id}}">{{task.title}}</option>
         {% endfor %}
      </select>
      <div style="height:5px;"></div>
      <button class="btn btn-outline-secondary" type="submit">Add tasks</button>
      
    </form>
</div>
{% endblock %}
