<div>
    <button type="submit" class="btn btn-outline-primary" style="color:black" data-toggle="modal" data-target="#default{{label.name}}{{label.id}}">
        {% load static %}
        <img src="{% static 'media/pencil.png' %}" alt="My image" class="image">
    </button>
    <!-- Modal -->

    
<div class="modal fade" id="default{{label.name}}{{label.id}}" tabindex="-1" role="dialog" aria-labelledby="#modal-{{label.name}}">
    <form method="post" action="{% url 'labels:updateLabel' id label.id %}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    <h4 class="modal-title" id="myModalLabel">{{label}}</h4>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Label name</label>
                        {% if label is None %}
                            <input type="text" class="form-control" id="name"  name="name" required placeholder="Enter label name">
                        {% else %}
                            <input type="text" class="form-control" id="name" value={{label.name}} name="name" required placeholder="Enter label name">
                        {% endif %}
                    </div>
                    <div class="form-group">

                        {% if label is None %}
                            <label for="color">Color</label>
                            <input type="text" required class="form-control" name="color" id="color"placeholder="Label color, a hex value">
                        {% else %}
                            <input type="text" required class="form-control" value={{label.color}} name="color" id="color"placeholder="Label color, a hex value">
                        {% endif %}

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-light">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>
</div>
