
{% block content %} 
<h3 class="text-center mb-3" style="color: rgb(27, 27, 56); margin-top: 15px;">Branches</h3>
  <div>
    <button type="button" class="btn btn-outline-secondary" style="color:black;" data-toggle="modal" data-target="#newBranchModal">
      New branch
    </button>
    {% include 'branch/addBranch.html' with id=id %}
  </div>
  <br/>
  {% if allBranches %}
    {% for b in allBranches %}
        <div class="card mb-3" >
            <div class="card-body">
                <p class="lead"><b>{{ b.name }} | {{b.baseBranch}}</b></p>
                <form action="{% url 'branch:deleteBranch' b.id id %}" method="POST">
                  {% csrf_token %}
                  <input style="background-color: rgb(223, 126, 126);color:white;padding:3px 8px;font-size: 19px; border-radius: 3px;text-decoration: none; float:right; border:none" name="delete" type="submit" value="Delete"/>
                </form>
                <button type="button" type="button" style="background-color: rgb(175, 186, 223);color:white;padding:3px 8px;font-size: 19px; border-radius: 3px;text-decoration: none; border:none; float:right; margin-right: 5px;" data-toggle="modal" data-target="#newnewBranchModal">
                  New branch
                </button>
                <div class="modal fade" id="newnewBranchModal" tabindex="-1" role="dialog" aria-labelledby="newnewBranchModal">
                  <form method="post" action="{% url 'branch:createABranchFromExisting' b.id %}">
                      <div class="modal-dialog" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                                  <h4 class="modal-title" id="myModalLabel">New branch</h4>
                              </div>
                              <div class="modal-body">
                                  {% csrf_token %}
                                  <div class="form-group">
                                      <label for="name">Name</label>
                                      <input type="text" class="form-control" id="name"  name="name" required placeholder="Enter branch name">
                                  </div>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-light">Submit</button>
                              </div>
                          </div>
                      </div>
                  </form>
                </div>
                <div style="position:absolute; bottom: 0; left: 10; padding: 20px; margin-top: 10px;" >
                  <a style="background-color: rgb(125, 142, 179);color:white;padding:4px 10px;font-size: 20px; border-radius: 3px;text-decoration: none;" 
                  href="{% url 'branch:detailBranch' b.id %}">Details</a>
                </div>
            </div>
        </div>
    {% endfor %}
  {% else %}
    No branches.
  {% endif %}

{% endblock %}