{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<h1 class="text-center mb-3">
   <a href="{% url 'repository:detailRepository' branchData.repository_id %}" style="cursor:pointer;">
      {% load static %}
      <img src="{% static 'media/arrow.png' %}" alt="My image" class="image">
    </a>
   {{branchData.name}}</h1>
<button type="button" class="btn btn-outline-secondary" style="color:black" data-toggle="modal" data-target="#newCommitModal">
  New commit
</button>
{% include 'commits/addCommit.html' with id=branchData.id %}
{% include 'commits/allCommits.html' with id=branchData.id %}


{% endblock %}