{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class='block' style="display: table; margin-right: auto; margin-left: auto; margin-top: 50px; margin-bottom: 50px; border-style: groove; padding: 30px;">
    <div class = 'col-lg-8 m-auto'>
        <h1>Register</h1>
        <h4>Just fill out the form.</h4>
        <form  method="POST">
            {% csrf_token %}
            {{ user_form|crispy }}
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Sign up</button>
            </div>
        </form>

    </div>
</div>
{% endblock %}