{% extends 'base.html' %} 
{% block content %} 
  <h1 class="text-center mb-3">Repositories</h1>
  <div>
    <button type="button" class="btn btn-outline-primary" style="color:black" data-toggle="modal" data-target="#newRepoModal">
      New repository
    </button>
    {% include 'repository/addRepository.html' with id=id %}
  </div>
  <br/>
  {% if allRepositories %}
    {% for repo in allRepositories %}
        <div class="card mb-3" >
            <div class="card-body">
                <p class="lead"><b>{{ repo.name }}</b> | {{ repo.creationDate }}</p>
                <form action="http://localhost:8000/repository/{{repo.id}}/delete" method="POST">
                  {% csrf_token %}
                  <input class="btn btn-default btn-danger" name="delete" style="color:red;text-align:centar;background-Color:white" type="submit" value="Delete"/>
                </form>
                <a style="color:green;margin-left:1%;margin-bottom:-5%;background-Color:white" href="http://localhost:8000/repository/{{repo.id}}/detailRepository">Update</a>
            </div>
        </div>
    {% endfor %}
  {% else %}
    No repositories.
  {% endif %}

{% endblock %}