{% extends 'base.html' %} 
{% block content %} 
  <h1 class="text-center mb-3">Repositories</h1>
  <div>
    <button type="button" class="btn btn-outline-secondary" style="color:black" data-toggle="modal" data-target="#newRepoModal">
      New repository
    </button>
    {% include 'repository/addRepository.html' with id=id %}
  </div>
  <br/>
  {% if allRepositories %}
    {% for repo in allRepositories %}
        <div class="card mb-3" >
            <div class="card-body">
                <p class="lead"><b style="font-size: 26px;">{{ repo.name }}</b> | {{ repo.creationDate }}</p>
                <div style="display: flex; flex-direction: row;">
                  <a style="background-color: rgb(125, 142, 179);color:white;padding:4px 10px;font-size: 20px; border-radius: 3px;text-decoration: none;margin-right: 15px;" href="{% url 'repository:detailRepository' repo.id %}">
                    Details</a>
                  <form action="{% url 'repository:deleteRepository' repo.id %}" method="POST">
                    {% csrf_token %}
                    <input name="delete" style="background-color: rgb(223, 126, 126);color:white;padding:4px 10px;font-size: 20px; border-radius: 3px;text-decoration: none; border:none" type="submit" value="Delete"/>
                  </form>
              </div>
            </div>
        </div>
    {% endfor %}
  {% else %}
    No repositories.
  {% endif %}

{% endblock %}