{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<h1 class="text-center mb-3">
   <a href="{% url 'repository:detailRepository' projectData.repository_id %}" style="cursor:pointer;">
      {% load static %}
      <img src="{% static 'media/arrow.png' %}" alt="My image" class="image">
    </a>
   {{projectData.name}}</h1>
<p class="lead">{{ projectData.description }}</p>

{% include 'task/task-in-project.html' %}
{% include 'milestone/milestonesInProject.html' %}

{% endblock %}
