<div style="margin-top:20px">
  <h3 class="text-center mb-3" style="color: rgb(27, 27, 56); margin-top: 15px;">Labels</h3>
  <button type="button" class="btn btn-outline-secondary" style="color: black" data-toggle="modal" data-target="#myModal" >
    New label
</button>
{% include 'label/add-label.html' with id=id addLabelForm=addLabelForm %}
</div>

<div style="margin-top:10px;display: flex;flex-direction: column;max-width: 300px;">
  {% include 'label/render-labels.html' with labels=labels id=id %}
</div>