{% load crispy_forms_tags %}

<button type="submit" style="background-color: rgb(125, 142, 179);color:white;padding:4px 10px;font-size: 20px; border-radius: 3px;text-decoration: none;margin-right: 5px; border:none" data-toggle="modal" data-target="#update{{label.instance.id}}">
    Edit
</button>
<!-- Modal -->
   
<div class="modal fade" id="update{{label.instance.id}}" tabindex="-1" role="dialog" aria-labelledby="#modal-{{label.instance.name}}">
    <form method="post" action="{% url 'labels:updateLabel' id label.instance.id %}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    <h4 class="modal-title" id="myModalLabel">{{label.instance.name}}</h4>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'labels:addLabel' id %}">
                        {% csrf_token %}
                        {{ label |crispy }}
                
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-light">Submit</button>
                </div>
            </form>
            </div>
        </div>
    </form>
</div>

